<% if @flag  %>

  <p>Sign in to join the discussion</p><br/>
  <a href="<%= @url %>">click here</a>
<% else %>
  <p>Sign up to join the group</p><br/>
  <a href="<%= @url %>">click here</a>
<% end %>