<div class="grey_overlay" id="accept_invitation_to_group_user">
  <div class="pop_up" >
    <div class="popup_inner_div">
      <a href="javascript:void(0);" onclick="jQuery('#accept_invitation_to_group_user').fadeOut();" class="popup_close_btn">&nbsp;</a>
      <div class="popup_content">
        <span class="popup_heading"></span>
          <table width="100%" class="popup_form_table">
            <tr>
              <td  align="left" colspan="2">
                <span class="font_for_message_display form_field_name">You are successfully added to the <%= group.discussion_group.name %> group. To visit the group <%= group.discussion_group.name %> please </span>
                <span class="form_field_link"><%= link_to "Click here", {:action => 'show', :id => group.discussion_group.id}, :class => "action_to_notify_link"  %>&nbsp;<span class="invite_or_cancel">or</span>&nbsp;
                <a href="javascript:void(0);" onclick="jQuery('#accept_invitation_to_group_user').fadeOut();" class = "action_to_notify_link" >Cancel</a>
                </span>
              </td>
            </tr>
          </table>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  jQuery(document).ready(function(){
    jQuery("#accept_invitation_to_group_user .pop_up").center();
  });
    jQuery('#accept_invitation_to_group_user').show();
</script>
