<%= form_for(@discussion_group) do |f| %>
  <% if @discussion_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discussion_group.errors.count, "error") %> prohibited this discussion_group from being saved:</h2>

      <ul>
      <% @discussion_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
